* {
  box-sizing: border-box;
  margin: 0;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
    display: flex;
    height:4em;
    border-bottom: 1px solid rgb(201, 195, 195);

}
header h1{
    margin-left: 1em;
}

header .img {
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    justify-content: space-between;
    
}

main .left {
    flex:1 0 1px;
    border: 1px solid rgb(201, 195, 195) ;
    border-left: 0;
    border-top: 0;
   
}

.left p {
    font-size: 1.5em;
    border-bottom: 1px solid rgb(201, 195, 195);
    color:rgb(124, 122, 122);
    padding:3px 3px 3px 10px;
}

article {
    flex: 1 0 250px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    background-color: rgba(253, 249, 249, 0.63);

}

article .blog{
    flex:1;
    border: 1px solid rgb(201, 195, 195);
    margin-top: 2em;
    margin-bottom: 2em;
    width: 70%;
    box-shadow: 1px lightgray;
    padding: 1em;
    
}

.blog h1{
    font-size: 1.4em;
    color: rgb(56, 155, 56);
    margin-top: 0.5em;

}
.blog p {
    font-size: 1em;
    margin-top: 0.5em;
    color: grey;
}


aside {
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid rgb(201, 195, 195);
    width: 15em;
   
}

aside h1{
    border:1px solid rgb(201, 195, 195);
    height: 8vh;
    width: 15vh;
    margin-top: 1em;
    text-align: center;
    padding-top: 2em;
    font-size: 1em;
    
    color:rgb(201, 195, 195);

}


footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer ul{
    flex: 1;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;

}

footer ul li{
    list-style-type: none;
    text-decoration: none;
    font-size: 1em;
    margin:0.5em;
 
}